@()(implicit context: controllers.ActionContext)

@if(context.hasSomeMessages) {
<div class="container"><div class="message">
    @for(messageCode <- context.messageCodes) {
        <div class="alert alert-info fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            @messageCode.description
        </div>
    }
    @for(userErrorCode <- context.userErrorCodes) {
        <div class="alert alert-warning fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            @userErrorCode.description
        </div>
    }
    @for(serverErrorCode <- context.serverErrorCodes) {
        <div class="alert alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            @serverErrorCode.description
        </div>
    }
</div></div>
}